language: objective-c
osx_image: xcode8.1

before_install:
    - gem install slather --no-rdoc --no-ri --no-document --quiet
    - brew update
    - brew install carthage
    - carthage bootstrap --no-use-binaries --platform ios

script:
    - xcodebuild -scheme ios-travis -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=10.1,name=iPhone 7' -configuration Debug test | xcpretty -c

after_success:
    - slather
    - bash <(curl -s https://codecov.io/bash) -f cobertura.xml -X coveragepy -X gcov -X xcode
